---
layout: default
hero_image: /assets/images/about_hero.png
hero_position: bg-top
hero_offset: ml-[30vw]
heading: About
seo:
    title: About Asha Yoga | Holistic Wellness in Cave City, KY
    description: >-
        Discover Asha Yoga's mission to create an inclusive and welcoming
        environment for yoga enthusiasts of all levels. Learn about our founder,
        our philosophy, and our commitment to community wellness.
    social_image: /assets/images/about_hero.png
---
<!-- About Section -->
<section class="max-w-screen-xl p-5 mx-auto my-12">
    <div class="flex flex-col items-center mb-12">
        <div class="max-w-4xl">
            <h1 class="mb-4 editable">
                Our Shala
            </h1>
            <p class="mb-4 text-lg editable">
                Inclusive Yoga For Mind, Body, And Spirit
            </p>
            <p class="mb-4 editable">
                At Asha Yoga, we believe that yoga is for everyone. Our mission is to create an inclusive and welcoming environment where individuals from all walks of life can practice and grow. We provide a space for physical, mental, and spiritual well-being to flourish in harmony. We focus on the transformative power of yoga to foster inner peace, strength, and resilience. Our diverse classes cater to all levels, from seasoned yogis to beginners. Our experienced instructors offer personalized guidance and support to help you deepen your practice.
            </p>
            <p class="mb-4 editable">
                Community is at the heart of Asha Yoga. We strive to build a nurturing environment where everyone feels valued and connected. Our shala is not just a place to practice yoga but a sanctuary for solace, encouragement, and inspiration. Inclusivity is a core value at Asha Yoga. We celebrate diversity and ensure our shala is a safe space for all, regardless of age, ability, background, or identity. We are passionate about making yoga accessible to everyone.
            </p>
            <p class="mb-4 editable">
                Join us at Asha Yoga to experience the holistic benefits of yoga in a community that embraces you just as you are. Together, we cultivate a deeper sense of well-being and unity, both on and off the mat.
            </p>
            <p class="mb-4 editable">
                <strong>Come Visit Us:</strong><br /> 103 Broadway Street<br />Cave City, KY 42127
            </p>
            <a class="btn btn-primary editable" href="/schedule.html">
                Sign Up
            </a>
        </div>
    </div>
</section>

<!-- Founder Section -->
<section class="bg-neutral text-base-100">
    <div class="grid items-center md:grid-cols-2">
        <img src="uploads/dsc-2785.jpg" alt="Founder Image" class="object-cover w-full h-full editable" srcset="uploads/dsc-2785.jpg 1x, uploads/dsc-2785-2x.jpg 2x" />
        <div class="text-left p-5p">
            <h2 class="mb-2 text-5xl editable">
                Meet Hope
            </h2>
            <div class="flex">
                <p class="mb-2 text-2xl editable">Shala Founder And Owner</p>
                <a href="https://www.instagram.com/kentucky_yogi" class="px-2">
                    <img src="/assets/images/instagram_logo.png" alt="Instagram Logo" class="w-7 h-7 hover:scale-110" />
                </a>
            </div>
            <div class="editable">
                <p class="mb-2">Hope Hawkins, RYT500, E-RYT200, YACEP, and MA holder, lives on her family farm with her husband, two children, and many animals. Her journey into yoga began as a way to soothe anxiety and find direction in life. Through yoga, she discovered her true passion: helping others (and herself) grow in strength, stability, and clarity.</p>
                <p class="mb-2">With over a decade of experience, Hope brings a deep passion for holistic wellness and a commitment to making yoga accessible to everyone. Her teaching style emphasizes inclusivity and personal growth, ensuring all students feel welcome and supported.</p>
                <p class="mb-2">Hope focuses on community building within rural areas and bringing yoga to diverse populations. Introduced to Ashtanga in 2021, she practices this form personally and is excited to show that Ashtanga is an accessible and sustainable yoga practice.</p>
            </div>
        </div>
    </div>
</section>

<!-- Teachers Section -->
<section class="max-w-screen-xl p-5 mx-auto my-12">
    <h2 class="mb-6 text-3xl text-primary editable">Our Teachers</h2>
    <div class="grid gap-6 md:grid-cols-3">

        <!-- Repeat for each teacher -->
        {% for p in site.data.teachers %}
        <div class="flex flex-col items-center p-6">
            <img src="{{p.image}}" alt="Teacher Image" class="mb-4" />
            <div class="relative w-full text-center">
                <h4 class="text-2xl uppercase">{{p.name}}</h4>
                <h5>{{p.certification}}</h5>
                <a href="{{p.instagram}}" class="absolute bottom-0 right-0">
                    <img src="/assets/images/instagram_logo.png" alt="Instagram Logo" class="w-6 h-6 hover:scale-110" />
                </a>
            </div>
            <hr class="w-full my-2 border-b border-accent" />
            <p class="text-center">{{p.bio}}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Partnership Section -->
{% include trini.html %}