---
layout: default 
hero_image: /assets/images/classes_hero.png
hero_position: bg-top
hero_offset: ml-[30vw]
heading: Our Classes
---

<section class="max-w-screen-xl mx-auto p-5p">
    <div class="grid gap-4 pb-0 md:pb-4 md:grid-cols-6">
    {% for item in site.data.classes limit:3 %}
        <div class="flex flex-col col-span-2 pb-6 text-center border border-accent">
            <img src="{{item.image}}" alt="Class Image" class="aspect-[6/5] mx-auto mt-2 border border-accent scroll-in-from-bottom" />
            <div class="py-6 grow">
                <h2 class="pb-6 text-3xl uppercase">{{item.class}}</h2>
                <hr class="w-full border-t border-accent">
                <p class="px-4 pt-6 mb-0">{{item.class_description}}</p>
            </div>
            <div>
                <a class="btn btn-primary" href="{{ item.link_url }}">Sign Up</a>
            </div>
        </div>
    {% endfor %}
    </div>
        
    <div class="grid gap-4 md:grid-cols-6">
        <div></div>
    {% for item in site.data.classes offset:3 %}
        <div class="flex flex-col col-span-2 pb-6 text-center border border-accent">
            <img src="{{item.image}}" alt="Class Image" class="aspect-[6/5] mt-2 mx-auto border border-accent scroll-in-from-bottom" />
            <div class="py-6 grow">
                <h2 class="pb-6 text-3xl uppercase">{{item.class}}</h2>
                <hr class="w-full border-t border-accent">
                <p class="px-4 pt-6 mb-0">{{item.class_description}}</p>
            </div>
            <div>
                <a class="btn btn-primary" href="{{ item.link_url }}">Sign Up</a>
            </div>
        </div>
    {% endfor %}
        <div></div>

    </div>
</section>

<!-- Hide this section if site.data.events is empty -->
<section class="max-w-screen-xl p-5 mx-auto my-8 bg-light">
    <h2 class="mb-6 text-4xl font-bold text-center text-primary editable">Upcoming Events</h2>
    <p class="max-w-4xl mx-auto mb-12 text-xl text-center text-primary editable">
        Join Us For Special Workshops And Sessions Aimed At Enhancing Your Yoga Journey. Don't Forget To Bring Your Mat And A Water Bottle!
    </p>
    <div class="space-y-12">
        {% for event in site.data.events %}
        <div class="flex flex-col items-center px-6 py-4 border md:flex-row border-accent">
            <img src="{{ event.image }}" alt="Event Image" class="aspect-[10/9] mx-12 border md:w-1/4 mb-4 border-accent" />
            <div class="text-left md:w-2/3">
                <h2 class="mb-2 text-3xl uppercase">{{ event.heading }}</h2>
                <p class="mb-2 text-lg"><strong>Date:</strong> {{ event.date }} | <strong>Cost:</strong> {{ event.cost }}</p>
                <p class="mb-4 text-md">
                    {{ event.description }}
                </p>
                <a class="btn btn-primary editable" href="{{ event.signup_url }}">Sign Up</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>