---
layout: default
hero_image: /assets/images/creative-ex.png
hero_position: bg-[position:0_70%]
hero_offset: ml-[30vw]
heading: Creative <br>Expressions
seo:
    title: Creative Expressions | Art & Wellness at Asha Yoga
    description: >-
        Visit Creative Expressions at Asha Yoga to explore local art, rare
        plants, and eclectic gifts. Celebrate the intersection of art and
        wellness in our vibrant gallery space.
    social_image: /assets/images/creative-ex.png
---
<section class="p-5 mx-auto my-12 max-w-screen-xl">
  <div class="flex flex-col items-center mb-12">
      <div class="max-w-4xl">
          
          <h1 class="mb-4 editable">Discover Local Talent</h1>
          <p class="mb-4 text-lg editable">
              Unique Art and Creations
          </p>
          <p class="mb-4 editable">
              Located inside Asha Yoga Shala, Creative Expressions Store showcases the vibrant works of local artists, offering a diverse selection of unique art and creations. From paintings and sculptures to handcrafted jewelry and home decor, our shop celebrates the creativity and talent within our community. We also offer books, rare plants, gifts, and more. Whether you're an art collector or simply looking for a special piece to brighten your space, you'll find inspiration in our curated collection. Visit us to explore the beauty and craftsmanship of local artistry and support our creative community.
          </p>
          <p class="mb-4 editable">
              <strong>Operating Hours: &nbsp;(special Holiday hours-see homepage)</strong><br /> Monday/Tuesday: Closed<br />Wednesday: 11am-2pm<br />Thursday: 11am-2pm<br />Friday: 10am-4pm<br /> Saturday: 10am-6pm<br />Sunday: Closed (Winter)
          </p>
          <p class="mb-4 editable">
              <strong>Come Visit Us:</strong><br />103 Broadway Street<br />Cave City, KY 42127
          </p> 

      </div>
  </div>
</section>

<section class="p-5 mx-auto my-2 max-w-screen-xl bg-light">
  <h2 class="mb-12 text-4xl font-bold text-center text-primary editable">Featured Artisits</h2>
  <div>
    {% for i in site.data.artists %}
      {% capture mod_result %}{{ forloop.index0 | modulo: 2 }}{% endcapture %}
      <div class="flex flex-col items-center px-6 py-4 border md:flex-row border-accent {% if mod_result == '1' %}md:flex-row-reverse{% endif %}">
        <img src="{{ i.image }}" alt="Event Image" class="aspect-[6/9] object-cover mx-12 border md:w-1/4 mb-4 border-accent" />
        <div class="text-left md:w-3/5">
          <div class="flex items-center">
            <h2 class="mb-2 text-3xl uppercase">{{ i.name }}</h2>
            <a href="{{ i.instagram }}" class="pb-2">
              <img src="/assets/images/instagram_logo.png" alt="Instagram Logo" class="w-10 aspect-square hover:scale-110" />
            </a>
          </div>
          <p class="mb-4">
            {{ i.bio }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>