---
layout: default 
hero: /assets/images/home_hero-gradient.png
heading: Asha Yoga
subheading: Welcome to
hero_position: bg-[70%]
testimonial:
- pic: /assets/images/yoga-5.jpg
  name: Michael Williams
  copy: After just one week of classes at The Zen Yoga Studio, I feel less stressed and more focused. The teachers create such a calm, welcoming environment that instantly puts me at ease.
- pic: /assets/images/yoga-6.jpg
  name: Emily Brown
  copy: I was initially hesitant to try yoga, but the beginner classes made me feel comfortable as a total novice. I've gained both physical strength and mental clarity from incorporating yoga into my self-care routine.
- pic: /assets/images/yoga-7.jpg
  name: Melissa Rodriguez
  copy: My yoga practice at The Zen Yoga Studio has become my much-needed oasis. The cueing is excellent and helps me feel present, grounded, and recharged.
---

{% include yoga-squares.html %}

{% include yoga-squares2.html %}
