---
layout: default
hero_image: /assets/images/home_hero-gradient.png
subheading: Welcome to
heading: Asha Yoga
hero_position: bg-[70%]
yoga-square1_image: /assets/images/yogaSq-1.png
yoga-square2_image: /assets/images/current-price-list.png
creative-expressions_image: >-
    uploads/black-and-beige-modern-simple-events-for-this-week-instagram-post-zip-1.png
seo:
    title: Asha Yoga - Inclusive Yoga Classes in Cave City, KY
    description: >-
        Welcome to Asha Yoga, where art and wellness converge. Join our
        inclusive yoga classes in Cave City, KY, and discover a vibrant
        community dedicated to holistic well-being.
    social_image: /assets/images/home_hero-gradient.png
---
{% include yoga-squares.html %}

{% include yoga-squares2.html %}

{% include trini.html %}

<!-- Creative Exressions -->
<section>
  <div class="grid-cols-4 md:grid min-h-60">
    <div class="self-end col-span-2 p-[5vw] max-w-prose">
      <div>
        <h2 class="pb-4 text-3xl md:text-5xl editable !leading-[1.1]">
          Creative Expressions
        </h2>
        <h3 class="pb-4 text-xl md:text-2xl editable">Where Art And Wellness Converge</h3>
        <p class="mb-4 editable">
          Asha Yoga is proud to share our space with Creative Expressions, a retail space that features a diverse collection of art and creations by talented local artists. We also offer books, rare plants, and eclectic gifts. Whether you're an art enthusiast or a casual visitor, you'll find inspiration in our vibrant gallery.
        </p>
        <a class="mt-6 transition-transform btn btn-primary editable hover:scale-105" href="/creative.html" aria-label="Learn more about Creative Expressions">
          Learn More
        </a>
      </div>
    </div>
    <div class="scroll-in-from-bottom md:border-l-2 col-span-2 bg-cover bg-center md:pb-[75%] aspect-square md:aspect-auto" role="img" aria-label="Creative Expressions Gallery Image" style="background-image: url({{page.creative-expressions_image}})">
    </div>
  </div>
</section>