<section class="p-5p">
    <form class="grid max-w-screen-xl gap-6 mx-auto">
        
        <input class="py-1 bg-transparent border-b placeholder:uppercase placeholder:text-copper text-copper" 
        type="text" name="name" placeholder="Name" aria-label="Name">
        
        <input class="py-1 bg-transparent border-b placeholder:uppercase placeholder:text-copper text-copper" 
        type="email" name="email" placeholder="Email" aria-label="email">

        <div>
            <label class="block uppercase" for="message">Message</label>
            <textarea class="w-full p-2 pb-4 bg-transparent border placeholder:uppercase placeholder:text-copper text-copper" id="message" name="message" ></textarea>
        </div>
        
        <div class="-mt-2 text-right">
            <button class="button" type="submit">Send</button>
        </div>
    </form>
</section>