<footer class="p-5p">
    <div class="grid md:grid-cols-10">
    
    <div class="col-span-5 p-4 sm:col-span-4">
        <h4 class="font-semibold uppercase">The Yoga Studio</h4>
        <p>We are a welcoming community focused on helping you enhance your health through the transformative power of yoga. Under the guidance of experienced instructors, students of all levels will improve their strength, balance, and focus.</p>
    </div>

    <div class="col-span-5 p-4 sm:col-span-2">
        <h4 class="font-semibold uppercase">About</h4>
        <nav>
            <a href="#"> Pricing</a>
            <a href="#"> Classes </a>
            <a href="#"> Schedule </a>
            <a href="#"> Blog </a>
        </nav>
    </div>
    

    <!-- Email Subscribe -->
    <div class="col-span-10 pt-4 md:col-span-4">
        <h4 class="font-semibold text-right uppercase">Subscribe to our Newsletter</h4>
        <form class="py-4">
            <input class="w-[80%] ml-auto block mb-2 bg-transparent border" type="email" class=""></input>
            <input class="block p-2 px-4 mt-4 ml-auto border hover:bg-copper hover:border border-light hover:text-light bg-light text-copper" type="submit" value="SUBSCRIBE" class="button"></input>
        </form>
    </div>
    
    </div>
    
</footer>
<div class="-mt-5 border-t bg-copper text-light">
    <p class="py-5 px-28">Terms of Use</P>
</div>