<footer class="pt-4 text-white md:pt-12 bg-primary">
    <div class="flex flex-col items-start justify-between px-4 mx-auto lg:flex-row">
        <!-- Logo and Description -->
        <div class="flex flex-col items-center md:flex-row">
            <a href="/"><img src="/assets/images/asha_logo-stacked.png" alt="Asha Yoga Logo" class="pr-2" /></a>
            <p class="max-w-md px-4 editable">Asha Yoga is a welcoming sanctuary for all, dedicated to promoting holistic wellness and community support. Based in Cave City, KY, we offer diverse yoga classes designed to help you discover inner peace and strength. Join us and become part of our inclusive, vibrant community.</p>
        </div>
        <!-- Navigation Links -->
        <div class="flex flex-col px-4 pt-6 min-w-fit">
            <ul class="space-y-1 text-xl">
                <li><a href="/classes" class="hover:text-secondary">Our Classes</a></li>
                <li><a href="/schedule" class="hover:text-secondary">Schedule</a></li>
                <li><a href="/about" class="hover:text-secondary">About Us</a></li>
                <li><a href="/creative-expressions" class="hover:text-secondary">Creative Expressions</a></li>
                <li><a href="/contact" class="hover:text-secondary">Contact</a></li>
            </ul>
        </div>
        <!-- Contact Information -->
        <div class="flex flex-row items-center max-lg:px-4">
            <div class="pt-6 min-w-fit">
                <h3 class="mb-1 text-accent editable">Connect With Us</h3>
                <p class="editable">
                    203 Broadway St. (Ace Alley)<br />Cave City, KY 42127
                </p>
                <!-- <p>103  Broadway Street<br>Cave City, KY 42127</p> -->
                <a href="mailto:info@ashayogaky.com" class="hover:text-secondary editable">info@ashayogaky.com</a>
                <div class="flex mt-2 space-x-4">
                    <a href="https://www.facebook.com/ashayogashanti" target="_blank" rel="noopener noreferrer" class="text-accent hover:text-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/asha_yoga_ky" target="_blank" rel="noopener noreferrer" class="text-accent hover:text-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <img src="/assets/images/trini_logo.png" alt="Trini Foundation Logo" />
        </div>
    </div>
    <div class="p-4 mt-6 text-sm text-center uppercase border-t md:mt-12 border-accent">
        <p>© 2024 Asha Yoga | Site <a href="https://viasana.co" class="hover:text-secondary">by ViaSana</a></p>
        <!-- <p>
            <a href="/privacy-policy" class="hover:text-secondary">Privacy Policy</a> | <a href="/terms" class="hover:text-secondary">Terms and Conditions</a>
        </p> -->
    </div>
</footer>