<section class="md:p-5p py-5p">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="text-4xl px-5p md:px-0">Testimonials</h2>
    
    <div class="flex overflow-x-auto md:grid md:grid-cols-3 md:gap-6 md:px-0 px-5p flex-nowrap">
    {% for item in page.testimonial limit:3 %}
      <div class="flex-shrink-0 w-4/5 mr-4 text-center md:w-auto md:mr-0">
        <div class="scroll-in-from-bottom bg-[url('{{item.pic}}')] aspect-square bg-cover bg-center border"></div>
        <h4 class="pt-4">{{item.name}}</h4>
        <hr>
        <p class="pt-4">{{item.copy}}</p>
      </div>
    {% endfor %}
    </div>
  </div>
</section>