<!-- Hero Section -->
<section 
    class="relative mx-auto max-w-screen-2xl bg-cover hero-section px-5p {{page.hero_offset}}"
    style="background-image: url('{{page.hero_image}}')"
    {% if page.hero_position %}data-position="{{page.hero_position}}"{% endif %}
>
    <div class="flex relative z-20 items-center min-h-50 md:min-h-90">
        <div class="{% if page.hero_offset %} -{{page.hero_offset}} {% endif %}">
            <hr class="decorative-line w-3/5 border border-accent -ml-[5vw] -translate-y-20">
            {% if page.subheading %}
                <h2 class="uppercase -translate-y-14 text-md">{{page.subheading}}</h2>
            {% endif %}
            <h1 class="mb-0 text-5xl heading md:text-8xl text-heading-overlay">{{page.heading}}</h1>
        </div>
    </div>
    <div class="absolute inset-0 opacity-60 overlay bg-base-100 sm:hidden"></div>
</section> 