<header class="flex items-center py-3 pl-5p">
    
    <a href="/"><img src="/assets/images/asha_logo-horizontal.png" class="sm:max-w-xs max-w-[15rem] editable"/></a> 

    <!-- Normal Menu -->
    <nav class="items-center justify-end flex-grow hidden mb-1 space-x-5 lg:space-x-10 md:flex">
        {% for i in site.data.nav %}
            <a href="{{ i.url }}">{{ i.title }}</a>
        {% endfor %}
    </nav>


    <!-- Mobile Menu -- works w/ main.js + .hamburger-button, .mobile-menu + DaisyUI -->
    <div class="flex w-full py-2 md:hidden">
        <div class="flex items-center justify-end ml-auto">
            
            <div class="relative z-50 space-y-2">
                <!-- Hamburger -->
                <label class="border-none shadow-none btn btn-circle swap swap-rotate bg-base-100">
                    <!-- this hidden checkbox controls the state --><input type="checkbox" />
                
                    <!-- hamburger icon -->
                    <svg class="fill-accent swap-off hamburger-button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
                    
                    <!-- close icon -->
                    <svg class="fill-accent swap-on hamburger-button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
                </label>
            </div>
        </div>
        <div class="z-40 shadow-lg mobile-menu">
            <nav class="text-center mt-28">
                {% for i in site.data.nav %}
                <div class="block my-6">
                    <a class="btn btn-primary" href="{{ i.url }}">{{ i.title }}</a>
                </div>
                {% endfor %}
            </nav> 
        </div>
    </div>
</header>