<!-- include trini -->
<div class="flex items-center justify-center bg-accent text-primary p-5p">
  <img src="assets/images/trini_logo-purp.png" alt="Trini Logo" class="max-md:h-32 md:max-h-52">
  <div class="max-w-4xl">
    <h2 class="text-xl uppercase md:text-4xl editable">Asha Yoga is Proud Partner of the Trini Foundation</h2>
    <p class="editable">Helping Support Recovery Through Yoga.</p> 
    <p class="editable">Learn More At <a href="https://trinifoundation.org" class="underline hover:text-secondary">TriniFoundation.Org</a></p>
  </div>
</div>