<section class="max-w-screen-xl mx-auto">
    <div class="grid-cols-4 md:grid min-h-60">
        <div class="scroll-in-from-bottom flex col-span-2 bg-cover bg-center aspect-square md:aspect-auto bg-[url('/assets/images/yogaSq-2.png')]">
        </div>

        <div class="grid col-span-2 border-t-2 border-l-2 md:grid-cols-2 border-accent">
            {% for item in site.data.classes limit:4 %}
            <div class="flex p-8 border-b-2 border-r-2 border-accent">
                <div class="grid grid-rows-3">
                    <div></div>
                    <h2 class="pb-2 mt-auto text-3xl uppercase">{{item.class}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>