<section class="">
    <div class="grid-cols-4 md:grid min-h-60">
        <div class="flex col-span-2 bg-center bg-cover scroll-in-from-bottom aspect-square md:aspect-auto" 
             style="background-image: url({{page.yoga-square2_image}})"
             role="img" aria-label="Yoga Square 2 Image">
             
        </div>

        <div class="grid col-span-2 border-t-2 border-l-2 lg:grid-cols-2 border-accent">
            {% for item in site.data.classes limit:4 %}
            <div class="flex p-8 border-r-2 border-b-2 border-accent">
                <div class="grid grid-rows-3">
                    <div></div>
                    <h2 class="pb-2 mt-auto text-3xl uppercase">{{item.class}}</h2>
                    <p>{{item.summary_description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>