<section class="max-w-screen-xl mx-auto">
    <div class="grid-cols-4 md:grid min-h-60">
        <div class="self-end col-span-2 p-[5vw]">
            <div>
                <h2 class="text-4xl">Discover the Power of Yoga</h2>
                <p>Whether you're brand new to the mat or an experienced yogi, our warm and welcoming studio offers a space to feel empowered, uplifted, and rejuvenated. Sign up today to attend your first class for free. Explore vinyasa flow for stamina, unwind in candlelit Yin sessions, or try a beginner class to learn the basics - the choice is yours!</p>
                <a class="mt-2 button" href="#">Sign Up</a>
            </div>
        </div>
        <div class="scroll-in-from-bottom md:border-l-2 col-span-2 bg-cover bg-center md:pb-[75%] aspect-square md:aspect-auto bg-[url('/assets/images/yoga-3.jpg')]">
        </div>
    </div>
</section>